<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>公告列表</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/select2/select2.css"/>
    <link rel="stylesheet" href="../../plugins/select2/select2-bootstrap.css"/>


    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../plugins/angularjs/angular.min.js"></script>
    <!-- scripts js -->
    <script src="../../js/plugins/scripts.js"></script>

    <!--分割线-->
    <!-- 分页组件开始 -->
    <script src="../../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->

    <script type="text/javascript" src="../../js/base_pagination.js"></script>
    <script type="text/javascript" src="../../js/service/noticeService.js"></script>
    <script type="text/javascript" src="../../js/service/loginService.js"></script>
    <script type="text/javascript" src="../../js/service/associationService.js"></script>

    <script type="text/javascript" src="../../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../../js/controller/noticeController.js"></script>
    <script type="text/javascript" src="../../js/controller/indexController.js"></script>
    <script type="text/javascript" src="../../js/controller/associationController.js"></script>

</head>

<body class="hold-transition skin-purple sidebar-mini" ng-app="stuclub" ng-controller="noticeController"
      ng-init="queryLoginMess()">

<!-- 内容区域 -->
<!-- @@master = admin-layout.html-->
<!-- @@block = content -->

<!-- 内容头部 -->
<!-- 内容头部 /-->
<div id="preloader">
    <span class="spinner"></span>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- 正文区域 -->
<section class="content-header">
    <h1>
        公告列表
    </h1>

</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="timeline">
                                <ul class="timeline" ng-repeat="po in list">
                                    <li class="time-label"
                                        ng-if="(list[$index].notice.createTime |date:'yyyy/MM/dd') !=(list[$index-1].notice.createTime |date:'yyyy/MM/dd') ">
                                        <span class="bg-red">
                                            {{po.notice.createTime |date:"yyyy/MM/dd"}}
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope bg-blue"></i>

                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> {{po.notice.createTime |date:"HH:mm"}} {{po.association.assName}}</span>

                                            <h3 class="timeline-header">{{po.notice.notTitle}}</h3>

                                            <div class="timeline-body">{{po.notice.notContent}}</div>
                                            <div class="timeline-footer">
                                                <a class="btn btn-primary btn-xs" data-target="#editModal"
                                                   data-toggle="modal" ng-click="findOne(po.notice.notId)">修改</a>
                                                <a class="btn btn-danger btn-xs" ng-click="dele(po.notice.notId)">删除</a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 分页 -->
                <tm-pagination conf="paginationConfByTime"></tm-pagination>
                <!-- 分页 -->
            </div>
        </div>
    </div>
</section>
<!-- 正文区域 /-->

<!-- @@close -->
<!-- 内容区域 /-->
<!--编辑窗口-->

<div class="modal fade" id="editModal" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    公告信息
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row margin-bottom">
                        <div class="col-md-2 text-center">
                            <label class="control-label">公告标题: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="notTitle" ng-model="entity.notTitle" class="form-control"/>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-md-2 text-center">
                            <Label class="control-label">公告内容:</Label>
                        </div>
                        <div class="col-md-8">
                            <textarea cols="80" rows="3" ng-model="entity.notContent" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" ng-click="update(loginMess.loginStuCode,entity)" class="btn btn-primary" data-dismiss="modal">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>


</body>

</html>
