<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>活动信息</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">

    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../../plugins/angularjs/angular.min.js"></script>

    <!-- scripts js -->
    <script src="../../js/plugins/scripts.js"></script>
    <!--分割线-->
    <!-- 分页组件开始 -->
    <script src="../../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->

    <script type="text/javascript" src="../../js/base_pagination.js"></script>
    <script type="text/javascript" src="../../js/service/activityService.js"></script>
    <script type="text/javascript" src="../../js/service/loginService.js"></script>
    <script type="text/javascript" src="../../js/service/associationService.js"></script>
    <script type="text/javascript" src="../../js/service/assetService.js"></script>


    <script type="text/javascript" src="../../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../../js/controller/activityController.js"></script>
    <script type="text/javascript" src="../../js/controller/indexController.js"></script>
    <script type="text/javascript" src="../../js/controller/associationController.js"></script>
    <script type="text/javascript" src="../../js/controller/assetController.js"></script>

</head>

<body class="hold-transition skin-purple sidebar-mini" ng-app="stuclub" ng-controller="activityController"
      ng-init="queryLoginMess()">

<!-- 内容区域 -->
<!-- @@master = admin-layout.html-->
<!-- @@block = content -->

<!-- 内容头部 -->
<!-- 内容头部 /-->
<div id="preloader">
    <span class="spinner"></span>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- 正文区域 -->
<section class="content-header">
    <h1>
        活动信息
    </h1>

</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="timeline">
                        <ul class="timeline" ng-repeat="t in list">
                            <li class="time-label"
                                ng-if="(list[$index].activity.startTime |date:'yyyy/MM/dd') !=(list[$index-1].activity.startTime |date:'yyyy/MM/dd') ">
                          <span class="bg-red">
                            {{t.activity.startTime}}
                          </span>
                            </li>
                            <li>
                                <i class="fa fa-envelope bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class=""></i> {{t.association.assName}}---活动地点：{{t.activity.actAddress}}</span>

                                    <h3 class="timeline-header">{{t.activity.actName}}</h3>

                                    <div class="timeline-body">{{t.activity.actDescription}}</div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs" data-target="#editModal"
                                           data-toggle="modal" ng-click="findOne(t.activity.actId)" >详细信息</a>
                                        <span ng-if="t.activity.mark==0">
                                            <span class="label label-info">审核中</span>

                                        </span>
                                        <span ng-if="t.activity.mark==1">
                                            <span class="label label-success">审核通过</span>
                                        </span>
                                        <span ng-if="t.activity.mark==2">
                                             <span class="label label-danger">已驳回</span>
                                            <a class="btn btn-primary btn-xs" ng-click="reapply(t.activity.actId)">重新申请</a>
                                        </span>
                                        <span ng-if="t.activity.mark!==1">
                                           <a class="btn btn-danger btn-xs" ng-click="dele(t.activity.actId)">删除</a>
                                        </span>

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div>
                <!-- 分页 -->
                <tm-pagination conf="paginationConfByTime"></tm-pagination>
                <!-- 分页 -->
            </div>
        </div>
    </div>
</section>
<!-- 正文区域 /-->

<!-- @@close -->
<!-- 内容区域 /-->
<!--编辑窗口-->

<div class="modal fade" id="editModal" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    活动详细
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row margin-bottom">
                        <div class="col-md-2 text-center">
                            <label class="control-label">活动名称: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly ng-model="act.activity.actName" class="form-control"/>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-md-2 text-center">
                            <label class="control-label">所属社团: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly ng-model="act.association.assName" class="form-control"/>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-md-2 text-center">
                            <label class="control-label">负责人: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly ng-model="act.activity.stuName" class="form-control"/>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-md-2 text-center">
                            <label class="control-label">开始时间: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly ng-model="act.activity.startTime" class="form-control"/>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-md-2 text-center">
                            <label class="control-label">活动地点: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly ng-model="act.activity.actAddress" class="form-control"/>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-md-2 text-center">
                            <label class="control-label">物资状态: </label>
                        </div>
                        <div class="col-md-8" ng-if="act.activity.assetSign==1">
                            借用
                        </div>
                        <div class="col-md-8" ng-if="act.activity.assetSign==0">
                            未借用
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-md-2 text-center">
                            <Label class="control-label">活动内容:</Label>
                        </div>
                        <div class="col-md-8">
                            <textarea cols="80" rows="3" ng-model="act.activity.actDescription" readonly class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>


</body>

</html>
